body {
    margin: 0;
    padding: 0;
}

.login_div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: #423E37;
}

#logo {
    width: 300px;
}

.button-grp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.restaurant_container {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #423E37;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.restaurant_container div {
    padding-top: 15px;
}